{% extends 'base.html.twig' %}

{% block title %}Hello HomeMenuController!{% endblock %}



{% block body %}
<h1>Bienvenue à notre club de détente</h1><br>
<h4>Profitez des services que l'on propose, des massages, des salons de beauté pour une bonne coiffure ainsi qu'une manucure de luxe. Sans oublier notre centre de détente SPA</h4>
<br>
<p><img style="width: 100%"; id="imagemenu" src="{{ asset('image/Bienvenue.jpg')}}"><br>
{% endblock %}
